---
layout: 'base.njk'
---

<article class="project-detail container-content">
<a class="link__small" href="/"><i class="las la-long-arrow-alt-left"></i>Back to homepage</a>
    <h1 class="article-title main-heading">{{title}}</h1>
    <h2 class="article-subtitle">{{subtitle}}</h2>

    <div class="flex">
        <figure><img src=" {{image}}" /></figure>
        <figcaption>{{featuredImageAlt}}</figcaption>
    <div class="content">
        {{ content | safe }}
    </div>
    </div>
</article>