<!doctype html>
<html class="no-js" lang="en">

{% include "./partials/_head.njk" %}

<body {% if pagename %} class="{{pagename}}" {% endif %}>

<!-- Preloader -->
<div class="page-loader">
    <div class="bounceball"></div>
</div>

{% include "./partials/_sidebarleft.njk" %}
{% include "./partials/_sidebarmenu.njk" %}

{% if pagename %}
    <link rel="stylesheet" href="./assets/css/site/{{pagename}}.css">
{% endif %}
<main>
    {{content | safe}}
    <!-- Contact Section -->
    {% include "./sections/_contact.njk" %}
</main>
{% include "./partials/_footer.njk" %}

</body>

</html>