<!doctype html>
<html class="no-js" lang="en">

{% include "./partials/_head.njk" %}

<body {% if pagename %} class="{{pagename}}" {% endif %}>

{% if pagename %}
<link rel="stylesheet" href="./assets/css/{{pagename}}.css">
{% endif %}
{% include "./partials/_topbar.njk" %}
{{content | safe}}

{% include "./partials/_footer.njk" %}

</body>

</html>