<section class="blogposts wow fadeInLeft" data-wow-delay="1800ms">
    <h3 class="section-title">Latest Posts</h2>
    <ul class="unlist">
    {%- for post in collections.post -%}
        <li class="blogpost">

            <h2>{{ post.data.title }}</h2>
            <p class="meta date-posted"><datetime>{{ post.data.dateCreated  | makeDateReadable }}</datetime></p>

            {%- if post.data.tags -%}
                {# Check if "project" is in tags #}
                {%- if "project" in post.data.tags -%}
                    <a href="{{ post.url }}">Read about project: {{ post.data.title }}</a>
                {%- elif "post" in post.data.tags -%}
                    <a href="{{ post.url }}">Read article: {{ post.data.title }}</a>
                {%- endif -%}
            {%- endif -%}
        </li>
    {%- endfor -%}
    </ul>
    <a href="/blog" class="link" role="link">More Posts</a>
</section>