<link rel="stylesheet" href="./assets/css/site/clients.css">
<section class="clients-logos">
        <div class="content-width">
        <h3 class="scroll-animation heading__huge" data-animation="fade_from_bottom"><span class="highlight">Trusted</span> by brands worldwide</h3>
        <ul class="d-flex unlist">
            <li class="client-logo scroll-animation" data-animation="fade_from_left">
                <img src="./assets/img/arches.svg" alt="McDonald's">
            </li>
            <li class="client-logo scroll-animation" data-animation="fade_from_bottom">
                <img src="./assets/img/intel-header-logo.svg" alt="Intel">
            </li>
            <li class="client-logo scroll-animation" data-animation="fade_from_top">
                <img src="./assets/img/topgear-logo.png" alt="TopGear Logo">
            </li>
            <li class="client-logo scroll-animation" data-animation="fade_from_right">
                <img src="./assets/img/tms-logo.svg" alt="TMS Logo">
            </li>
            <li class="client-logo scroll-animation" data-animation="fade_from_left">
                <img src="./assets/img/artez-logo.svg" alt="ArtEz Press Logo">
            </li>
            <li class="client-logo scroll-animation" data-animation="fade_from_bottom">
                <img src="./assets/img/hanos-logo.png" alt="Hanos Logo">
            </li>
        </div>
    </div>
</section>