<section class="clients-logos" data-wow-delay="1500ms" aria-labelledby="article-section-title">

        <h2 class="heading__medium" data-animation="fade_from_bottom">Select clients</h2>
        <div class="container__medium">
            <ul class="unlist">
                <li class="client-logo scroll-animation" data-animation="fade_from_left">
                    McDonald's
                </li>
                <li class="client-logo scroll-animation" data-animation="fade_from_bottom">
                    Intel Corp
                </li>
                <li class="client-logo scroll-animation" data-animation="fade_from_top">
                    TopGear Franchise
                </li>
                <li class="client-logo scroll-animation" data-animation="fade_from_right">
                    TMSW.com
                </li>
                <li class="client-logo scroll-animation" data-animation="fade_from_left">
                    ArtEZ University
                </li>
                <li class="client-logo scroll-animation" data-animation="fade_from_bottom">
                    HANOS International
                </li>
            </ul>
        </div>
    </div>
</section>