<section class="contact-area page-section">

            <div class="contact-content content-width">
                <div class="section-header">
                    <h4 class="section-label">
                        <i class="las la-wifi"></i> contact
                    </h4>
                    <h2 class="heading__huge" data-animation="fade_from_bottom">Let's Work <span class="highlight">Together!</span></h2>
                </div>

                <h3 class="s-animation" data-animation="fade_from_bottom">How to get in touch?</h3>
                <p>The easiest way: Send me an email at <a href="mailto:email@magaliechetrit.com">email@magaliechetrit.com</a></p></br>
                <p>You can also find my on <a href="https://www.linkedin.com/in/magaliechetrit/">LinkedIn</a>, where I maintain an updated profile.</p>
            </div>

</section>