<section class="contact-area page-section">

<div class="contact-content content-width">
    <div class="section-header">
        <h4 class="section-label">
            <i class="las la-wifi"></i> contact
        </h4>
        <h2 class="section-title" data-animation="fade_from_bottom">Want to work together?</span></h2>
    </div>

    <p>The easiest way: Send me an email at <a href="mailto:email@magaliechetrit.com">email@magaliechetrit.com</a></p></br>
    <p>You can also find my on <a href="https://www.linkedin.com/in/magaliechetrit/">LinkedIn</a>, where I maintain an updated profile.</p>
</div>

</section>