<link rel="stylesheet" href="./assets/css/site/hero.css">
<section class="hero-section page-section scroll-to-page" id="home">
        <div class="hero-content content-width">
            <div class="section-header">
                <h2 class="scroll-animation section-title__large" data-animation="fade_from_top">I code and manage beautiful, <span class="highlight">custom</span> and
                <span class="highlight">practical</span> websites, webshops and online experiences.</h2>
            </div>
            <div class="section-content scroll-animation" data-animation="fade_from_bottom">
                <p>I work with <span class="highlight">WordPress</span>, WooCommerce and other CMS's to leverage the <span class="highlight">best experiences</span> for my clients.</p>
                <p>I <span class="highlight">love</span> what I do. It's just that simple!</p>
            </div>

            <div class="facts d-flex">
                <div class="left scroll-animation" data-animation="fade_from_left">
                    <h1>15+</h1>
                    <p>Years of <br>Experience</p>
                </div>
                <div class="right scroll-animation" data-animation="fade_from_right">
                    <h1>40+</h1>
                    <p>projects completed in <br>8 countries</p>
                </div>
            </div>
        </div>
</section>
