<section class="hero">
<div class="grid">
    <div class="column-1-2">
        <img src="/assets/img/me-2024.jpeg" alt="Portrait photo of Magalie Chetrit" class="hero-image">
    </div>
    <div class="column-2-2">
            <h2 class="heading__medium">I'm Magalie, a web developer.</h2>
            <p class="hero-text">
            I have been working as a developer for over 20 years. This year, I worked as a contractor in the <a href="/projects/mcdonaldsrex/">Retail Experience team</a> to develop an internal campaign planning application for McDonald's. Recently I managed and maintained all the Happy Meal websites in the world. Before that, I worked on the development of <a href="/projects/mcdonaldsasfeaturedin/">McDonald's Project "As Featured in"</a>.
            <br>
            </p>
            <button type="button" class="js-read-more link__small block" aria-expanded="false" aria-controls="hero-more">Read more</button>
            <p id="hero-more" class="hero-text hero-more" hidden>
            I also worked on TopGear, NewScientist, I have helped developers at Intel Corp with their proprietary software, I've worked with SAP's Hybris. My experiences range from large to small projects, dealing with over millions monthly pageviews, A11y, SEO and projectmanagement.
            <br>
            </p>
            <a href="https://www.linkedin.com/in/magaliechetrit/" aria-label="Visit my LinkedIn profile">LinkedIn</a> — magaliechetrit [at] gmail.com
            <a href="#nownownow" class="block">See my current projects</a>
            <br>
    </div>
</div>
</section>