    <section class="hero-section page-section scroll-to-page" id="home">

        <div class="custom-container">
            <div class="hero-content content-width">
                <div class="section-header">
                    <h4 class="section-label scroll-animation" data-animation="fade_from_bottom">
                        <i class="las la-home"></i> Introduction
                    </h4>
                    <h1 class="section-title scroll-animation" data-animation="fade_from_bottom">Hi from <span>Magalie</span>,
                        Wordpress and WooCommerce developer</h1>
                </div>
                <p class="scroll-animation" data-animation="fade_from_bottom">I code and manage beautiful and
                    practical websites, webshops and I love what I do. It's just that simple!</p>
                <a href="#portfolio" class="go-to-project-btn scroll-to scroll-animation"
                    data-animation="rotate_up">
                    <img src="./assets/images/round-text.png" alt="Rounded Text">
                    <i class="las la-arrow-down"></i>
                </a>

                <div class="facts d-flex">
                    <div class="left scroll-animation" data-animation="fade_from_left">
                        <h1>15+</h1>
                        <p>Years of <br>Experience</p>
                    </div>
                    <div class="right scroll-animation" data-animation="fade_from_right">
                        <h1>40+</h1>
                        <p>projects completed in <br>7 countries</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
