 <section class="pricing-area page-section scroll-to-page" id="pricing">
        <div class="custom-container">
            <div class="pricing-content content-width">
                <div class="section-header">
                    <h4 class="section-label scroll-animation" data-animation="fade_from_bottom">
                        <i class="las la-dollar-sign"></i> pricing
                    </h4>
                    <h2 class="section-title scroll-animation" data-animation="fade_from_bottom">My <span>pricing</span></h2>
                </div>

                <div class="pricing-table-items">
                    <div class="row">
                        <div class="col-md-6 scroll-animation" data-animation="fade_from_left">
                            <div class="pricing-table">
                                <div class="pricing-table-header">
                                    <div class="top d-flex justify-content-between align-items-start">
                                        <h4>Simple</h4>
                                        <p class="text-right">Have a design ready to build?<br>
                                            or a small budget?</p>
                                    </div>
                                    <h2>$65 <span>/ hours</span></h2>
                                </div>
                                <ul class="feature-lists">
                                    <li>Webhosting & Email</li>
                                    <li>Development with WordPress or WooCommerce</li>
                                    <li>Remote/Online</li>
                                    <li>Work in business days, no weekend.</li>
                                    <li>Support 3 months</li>
                                </ul>
                                <a href="" class="theme-btn">pick this package</a>
                            </div>
                        </div>
                        <div class="col-md-6 scroll-animation" data-animation="fade_from_right">
                            <div class="pricing-table">
                                <div class="pricing-table-header">
                                    <div class="top d-flex justify-content-between align-items-start">
                                        <h4>premium</h4>
                                        <p class="text-right">Not have any design?<br>
                                            Leave its for me</p>
                                    </div>
                                    <h2>$99 <span>/ hours</span></h2>
                                </div>
                                <ul class="feature-lists">
                                    <li>Don't need wireframe or anything</li>
                                    <li>Design with Figma, Framer from scratch</li>
                                    <li>Implement with Webflow, React, WordPress, Laravel/PHP</li>
                                    <li>Remote/Online</li>
                                    <li>Work with both weekend</li>
                                    <li>Support 12 months</li>
                                    <li>Your project alway be priority</li>
                                    <li>Customer care gifts</li>
                                </ul>
                                <a href="" class="theme-btn">pick this package</a>
                            </div>
                        </div>
                    </div>
                    <p class="info scroll-animation" data-animation="fade_from_bottom">
                        Don't find any package match with your plan!<br>
                        Want to setup a new tailor-made package for only you?. <a href="">Contact Us</a>
                    </p>
                </div>

            </div>
        </div>
    </section>