 <section class="pricing-area page-section scroll-to-page" id="pricing">
        <div class="custom-container">
            <div class="pricing-content content-width">
                <div class="section-header">
                    <h4 class="section-label scroll-animation" data-animation="fade_from_bottom">
                        <i class="las la-dollar-sign"></i> pricing
                    </h4>
                    <h2 class="heading__huge scroll-animation" data-animation="fade_from_bottom">My <span>pricing</span></h2>
                </div>

                <div class="pricing-table-items">
                    <div class="row">
                        <div class="col-md-6 scroll-animation" data-animation="fade_from_left">
                            <div class="pricing-table">
                                <div class="pricing-table-header">
                                    <div class="top">
                                        <h4>Freelancer</h4>
                                        <p>When you have a design ready,<br>
                                            need a freelancer, or an unknown set of hours.</p>
                                    </div>
                                    <h2>$75 <span>per hour</span></h2>
                                </div>
                                <ul class="feature-lists">
                                    <li>Webhosting & Email</li>
                                    <li>Development with WordPress or WooCommerce</li>
                                    <li>Remote/Online</li>
                                    <li>Work on business days</li>
                                    <li>Support 1 month</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 scroll-animation" data-animation="fade_from_right">
                            <div class="pricing-table">
                                <div class="pricing-table-header">
                                    <div class="top">
                                        <h4>premium</h4>
                                        <p class="text-right">Not have any design?<br>
                                            Leave its for me</p>
                                    </div>
                                    <h2>$99 <span>/ hours</span></h2>
                                </div>
                                <ul class="feature-lists">
                                    <li>Don't need wireframe or anything</li>
                                    <li>Design with Figma, Framer from scratch</li>
                                    <li>Implement with Webflow, React, WordPress, Laravel/PHP</li>
                                    <li>Remote/Online</li>
                                    <li>Work with both weekend</li>
                                    <li>Support 12 months</li>
                                    <li>Your project alway be priority</li>
                                    <li>Customer care gifts</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 scroll-animation" data-animation="fade_from_left">
                            <div class="pricing-table">
                                <div class="pricing-table-header">
                                    <div class="top">
                                        <h4>Website Basic</h4>
                                        <p>When you want a basic website<br>
                                            have a design and know what you want.</p>
                                    </div>
                                    <h2>$1500 <span>per project</span></h2>
                                </div>
                                <ul class="feature-lists">
                                    <li>Webhosting & Email (optional)</li>
                                    <li>Backups</li>
                                    <li>Development with WordPress or WooCommerce</li>
                                    <li>Remote/Online</li>
                                    <li>Contact on business days</li>
                                    <li>Support for 3 months</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 scroll-animation" data-animation="fade_from_left">
                            <div class="pricing-table">
                                <div class="pricing-table-header">
                                    <div class="top">
                                        <h4>Online Shop</h4>
                                        <p>When you want to build a online shop<br>
                                            have a design and know what you want.</p>
                                    </div>
                                    <h2>$7500 <span>per shop</span></h2>
                                </div>
                                <ul class="feature-lists">
                                    <li>Webhosting & Email (optional)</li>
                                    <li>Backups</li>
                                    <li>Development with WooCommerce</li>
                                    <li>Remote/Online</li>
                                    <li>Contact on business days</li>
                                    <li>Support for 3 months</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <p class="info scroll-animation" data-animation="fade_from_bottom">
                    Didn't find a package to match your plan?<br>
                    Setup a tailor-made package for that works for you? <a href="#contact">Get in touch.</a>
                </p>
            </div>
        </div>
    </section>