<section class="projects">
    <h2>Current projects.</h2>
    <ul>
        <li><a href="https://maggiematters.com">maggiematters.com</a> - documentation of my life with cancer.</li>
        <li><a href="https://happymeal.com">happymeal.com</a> - developing and guiding migration to a WordPress project that supports a 100+ locales</li>
    </ul>
    <div class="dash"><span></span></div>
    <h2>Previously closed projects.</h2>
    <ul>
        <li><a href="https://mcdonaldsasfeaturedin.com/">mcdonaldsasfeaturedin.com</a> - A shortlived campaign for McDonald's in WordPress, WPML, Timber and ACF</li>
        <li><a href="https://artezpress.artez.com">ArtEZPress Shop</a> - A custom theme I built in WooCommerce with custom API connection to a WMS</li>
        <li><a href="https://modem.work">Modem.Work</a> - A portfolio for MIT Architects built in Kirby CMS. </li>
        <li><a href="https://topgear.nl">TopGear.nl</a></li>
    </ul>
    <p>...and more work can be found in <a href="https://www.linkedin.com/in/magaliechetrit/">my resume or my linkedin.</a></p>
</section>