<section class="projects" id="nownownow">
<h2>NowNowNow</h2>
    <div class="container__xs">

    <span class="text__small">Last updated: February 2026</span>
    <p>This is a list of what I am doing right now. What I am working and focusing on. I took my inspiration from <a href="https://nownownow.com/">nownownow.com</a> to create this section.
    And also: <a href="https://herman.bearblog.dev/now/">Herman.</a>
    Below you will find some of the projects I have recently closed.</p>
    <h3>Current projects.</h3>
    <p>What I am working on right now:</p>
    <ul>
        <li><a href="/photo-grid-maker">Photo Grid Maker</a> - A fun side project: A photo grid maker for my Liene Photo Printer. I love this project.</li>
        <li><a href="https://maggiematters.com">maggiematters.com</a> - A personal project. Documentation of my life with cancer. I'm experimenting with Google Analytics, WordPress Theme TwentyTwentyFive and technical SEO.</li>
        <li><a href="#">ErikKorte.nl</a> - Refactoring and rebuilding a WordPress site for a Dutch funeral home. Including <a href="https://github.com/BluePraise/ek-condoleance-register">a custom plugin for creating and managing condolances.<a/></li>
        <li><a href="https://farbest.com">farbest.com</a> - A custom wordpress plugin to filter ingredients.</li>
        <li><a href="https://haymumford.com">haymumford.com</a> - Webhosting, DevOps and Maintenance.</li>
        <li><a href="https://navesink.digital">navesink.digital</a> - A side project - helping individuals and businesses organize their digital life.</li>
        <li><a href="https://navesinkwebsolutions.com">navesinkwebsolutions.com</a> - Owner of a small digital agency in New Jersey.</li>
    </ul>
    <h3>Courses, Books, Volunteering.</h3>
    <ul>
        <li><a href="https://tnbcthrivers.org"><i class="las la-hand-holding-heart"></i> TNBCThrivers</a> - Volunteering as moderator for Metastatic TNBC Chats and community support.</li>
        <li><a href="https://make.wordpress.org/"> <i class="lab la-wordpress"></i> Volunteering with WordPress </a> - I volunteer 4 - 8 hours a week to <a href="https://make.wordpress.org/accessibility/handbook/get-involved/">WordPress's Accessibility</a> and Docs team.</a> I help with bug scrubs, documentation, join meetings. This is <a href="https://profiles.wordpress.org/magaliechetrit/">my WP profile</a></li>
        <li><a href="https://www.coursera.org/specializations/building-ai-agents-and-agentic-workflows"><i class="las la-glasses"></i> A 3 part Course: Building AI Agents and Agentic Workflows</a>. I have wrapped up course 1 successfully and am now working on <a href="https://www.coursera.org/learn/agentic-ai-with-langchain-and-langgraph?specialization=building-ai-agents-and-agentic-workflows">course 2: "Agentic AI with LangChain and LangGraph"</a></li>
        <li><a href="https://amzn.to/4p8dbNK"><i class="las la-book-reader"></i> Book: Why We Sleep: Unlocking the Power of Sleep and Dreams</a></li>
        <li><a href="https://amzn.to/46y6IFs"><i class="las la-book-reader"></i> Book: The Last Devil to Die - A Thursday Murder Club Mystery.</a></li>
    </ul>
    <h3>Previously closed projects.</h3>
    <ul>
        <li><a href="https://modem.work">Modem.Work</a> - Maintenance and update from Kirby 3 to Kirby 5.</li>
        <li><a href="https://happymeal.com">happymeal.com</a> - developing and guiding migration to a WordPress project that supports a 100+ locales</li>
        <li><a href="/projects/mcdonaldsasfeaturedin/">mcdonaldsasfeaturedin.com</a> - A shortlived campaign for McDonald's in WordPress, WPML, Timber and ACF</li>
        <li><a href="/projects/artezpress/">ArtEZPress Shop</a> - A custom theme I built in WooCommerce with custom API connection to a WMS</li>
        <li><a href="https://modem.work">Modem.Work</a> - A portfolio for MIT Architects built in Kirby CMS. Currently, supporting and maintaining the site.</li>
        <li><a href="https://topgear.com">TopGear.com</a> - WordPress Theme Development and Supports</li>
    </ul>
    <p>...and more work can be found in <a href="https://www.linkedin.com/in/magaliechetrit/">my resume or my linkedin.</a></p>
    </div>
</section>