<section class="projects" id="nownownow">
<h2>NowNowNow</h2>
    <div class="container__xs">

    <span class="text__small">Last updated: December 2025</span>
    <p>This is a list of what I am doing right now. What I am working and focusing on. I took my inspiration from <a href="https://nownownow.com/">nownownow.com</a> to create this section.
    And also: <a href="https://herman.bearblog.dev/now/">Herman.</a>
    Below you will find some of the projects I have recently closed.</p>
    <h3>Current projects.</h3>
    <p>What I am working on right now:</p>
    <ul>
        <li><a href="https://maggiematters.com">maggiematters.com</a> - A personal project. Documentation of my life with cancer. I'm experimenting with Google Analytics, WordPress Theme TwentyTwentyFive and technical SEO.</li>
        <li><a href="#">ErikKorte.nl</a> - Refactoring and rebuilding a WordPress site for a Dutch funeral home. Including <a href="https://github.com/BluePraise/ek-condoleance-register">a custom plugin for creating and managing condolances.<a/></li>
        <li><a href="https://farbest.com">farbest.com</a> - A custom plugin to filter ingredients.</li>
        <li><a href="https://haymumford.com">haymumford.com</a> - Webhosting, DevOps and Maintenance.</li>
        <li><a href="https://navesink.digital">navesink.digital</a> - A personal project - helping individuals and businesses organize their digital life.</li>
        <li><a href="https://navesinkwebsolutions.com">navesinkwebsolutions.com</a> - Owner of a small digital agency in New Jersey.</li>
    </ul>
    <h3>Courses, Books, Volunteering.</h3>
    <ul>
        <li><a href="https://tnbcthrivers.org">TNBCThrivers</a> - Volunteering as moderator for Metastatic TNBC Chats and community support.</li>
        <li><a href="https://wordpress.org"> - Volunteering with WordPress Core</a> I volunteer 4 - 8 hours a week to WordPress's Accessibility, Docs and CSS team.</a> I help with bug scrubs, documentation, join meetings. This is <a href="https://profiles.wordpress.org/magaliechetrit/">my WP profile</a></li>
        <li><a href="https://www.coursera.org/learn/fundamentals-of-building-ai-agents">Course: Fundamentals of Building AI Agents</a></li>
    </ul>
    <h3>Previously closed projects.</h3>
    <ul>
        <li><a href="https://happymeal.com">happymeal.com</a> - developing and guiding migration to a WordPress project that supports a 100+ locales</li>
        <li><a href="/projects/mcdonaldsasfeaturedin/">mcdonaldsasfeaturedin.com</a> - A shortlived campaign for McDonald's in WordPress, WPML, Timber and ACF</li>
        <li><a href="/projects/artezpress/">ArtEZPress Shop</a> - A custom theme I built in WooCommerce with custom API connection to a WMS</li>
        <li><a href="https://modem.work">Modem.Work</a> - A portfolio for MIT Architects built in Kirby CMS. </li>
        <li><a href="https://topgear.com">TopGear.com</a> - WordPress Theme Development and Supports</li>
    </ul>
    <p>...and more work can be found in <a href="https://www.linkedin.com/in/magaliechetrit/">my resume or my linkedin.</a></p>
    </div>
</section>