<li class="portfolio-item wow fadeInLeft" style="max-width: 320px;" data-wow-delay="2000ms">
    <a href="{{ project.url }}" class="portfolio-link">
        <img src="/assets/img/mcdo-front-view.jpg" alt="{{ project.data.imageAlt }}">
        <h4 class="portfolio-item-title">{{ project.data.title }}</h4>
        <span class="portfolio-year">{{ project.data.year }}</span>
    </a>
</li>
