<div class="buttons">
    <a class="button button__primary" href="https://www.linkedin.com/in/magaliechetrit/" aria-label="Visit my LinkedIn profile">LinkedIn <i class="las la-external-link-alt" aria-hidden="true"></i></a>
    <a class="button button__primary" href="https://buymeacoffee.com/magaliechetrit/e/285684" aria-label="Download my full resume">Download full resume *<span class="highlight"></span><i class="las la-cloud-download-alt" aria-hidden="true"></i></a>
    <small class="highlight text__small block blink">* My resume is a paid download.</small>
</div>