<section class="resume-area page-section scroll-to-page" id="resume">
        <div class="custom-container">
            <div class="resume-content content-width">
                <div class="section-header">
                    <h4 class="section-label scroll-animation" data-animation="fade_from_bottom">
                        <i class="las la-briefcase"></i> Resume
                    </h4>
                    <h2 class="heading__huge scroll-animation" data-animation="fade_from_bottom">Education &
                        <span>Experience</span></h2>
                    <p>My resume showcases select relevant work that demonstrates my skills and expertise in the field. I have additional experience in other areas which can be found on my LinkedIn. Or <a href="#contact">get in touch</a> so I can provide further details.</p>
                </div>

                <div class="resume-timeline">
                    <div class="item scroll-animation" data-animation="fade_from_right">
                        <span class="date">April 2022 - Present</span>
                        <h2>Front-End WordPress Developer</h2>
                        <p>1815 Agency - The Netherlands</p>
                        <div class="description-container">
                            <p>• Developed and maintained WordPress websites for various clients, including TopGear and NewScientist.</p>
                            <p>• Collaborated with clients, project managers, and design teams to understand project requirements and deliver high-quality solutions.</p>
                            <p>• Implemented best practices for website optimization, security, and performance.</p>
                            <p>• Conducted website testing, debugging, and troubleshooting to ensure smooth functionality.</p>
                            <h3>Key Achievement</h3>
                            <p>Successfully completed 7 WordPress projects within budget and timeline, resulting in client satisfaction and positive feedback.</p>
                            <h3>Stack and skill</h3>
                            <p>Docker, PHP, Yarn, NPM, Git (Bitbucket), HTML / JS / CSS, WordPress, PHP, Timber</p>
                            <p>Project management through <a href="https://monday.com">Monday</a>. Managing client communication.</p>
                        </div>
                    </div>
                    <div class="item scroll-animation" data-animation="fade_from_right">
                        <span class="date">March 2020 - Feb 2022</span>
                        <h2>Front-End Developer SAP/HYBRIS</h2>
                        <a href="https://hanos.nl/nl/">HANOS International Grocer</a>
                        <div class="description-container">
                            <p>• Developed and integrated new features into the corporate website, enhancing user experience and functionality.</p>
                            <p>• Refactored legacy code (jQuery 1.11 and Bootstrap 3.5), improving code quality and maintainability.</p>
                            <p>• Conducted bug fixes and troubleshooting to ensure smooth website performance and usability.</p>
                            <p>• Employed Jira, Bitbucket, and Confluence for effective issue tracking, version control, and project documentation and collaboration, ensuring streamlined code management and project management processes.</p>
                            <p>• Collaborated with cross-functional teams, including API providers and internal stakeholders, to successfully deliver the project on time and within budget, achieving business objectives.</p>
                            <h3>Key Achievement</h3>
                            <p>Developed and integrated new functionality into the corporate website, leveraging an API to dynamically replace out-of-stock items, resulting in improved user experience and increased customer satisfaction.</p>
                            <h3>Stack and skill</h3>
                            <p>jQuery, HTML/CSS, JavaScript, Grunt, Git (Bitbucket), SAP, BettyBlocks</p>
                            <p>Project management Scrum through Jira and Confluence.</p>
                        </div>
                    </div>
                    <div class="item scroll-animation" data-animation="fade_from_right">
                        <span class="date">December 2019 - April 2022</span>
                        <h2>Development and Maintenance WooCommerce Shop ArtEZ Press</h2>
                        <a href="https://artezpress.artez.nl">ArtEZ Press Shop</a>
                        <div class="description-container">
                            <p>• Developed a custom WooCommerce theme for an international e-commerce webshop.</p>
                            <p>• Implemented robust e-commerce functionality, including integration with a Warehouse Management System (WMS) API for streamlined stock management.</p>
                            <p>• Implemented custom functionality such as multilingual support to cater to a diverse customer base, enhancing the website's accessibility and user experience.</p>
                            <p>• Currently responsible for ongoing maintenance and updates, as well as adding new features and fulfilling client requests to ensure optimal website performance and customer satisfaction.</p>
                            <p>• Collaborated with designer, leveraging project management through Notion. Consulting and advocating to and with client to help achieve their business goals within budget.</p>
                            <h3>Key Achievement</h3>
                            <p>• Utilized ACF and jQuery to design and implement a custom filter experience, enhancing the shopping journey for customers and improving overall user experience.</p>
                            <p>• Successfully established and maintained integration with a bespoke Warehouse Management System, demonstrating exceptional coordination and communication skills.</p>
                            <h3>Stack and skill</h3>
                            <p>WooCommerce, jQuery, JavaScript, ACF, FlickityJS, Rest API, Technical SEO, PHP.</p>
                        </div>
                    </div>
                    <div class="item scroll-animation" data-animation="fade_from_right">
                        <span class="date">January 2018 - March 2018</span>
                        <h2>Custom Development Portfolio - Modem.Work</h2>
                        <a href="https://modem.work">Modem Portfolio Site</a>
                        <div class="description-container">
                            <p>Developed a professional portfolio website using Kirby CMS for the head of Architecture at MIT, showcasing their work and achievements, and enhancing their online presence.</p>
                            <h3>Stack and skill</h3>
                            <p>KirbyCMS, jQuery, JavaScript, PHP</p>
                        </div>
                    </div>
                    <div class="item scroll-animation" data-animation="fade_from_right">
                        <span class="date">2010 - 2013</span>
                        <h2>Associates Degree of Information Technology</h2>
                        <p>HAN University Arnhem, The Netherlands</p>
                    </div>
                </div>
            </div>
        </div>
    </section>