<section class="services-area page-section scroll-to-page" id="services">
        <div class="custom-container">
            <div class="services-content content-width">
                <div class="section-header">
                    <h4 class="section-label scroll-animation" data-animation="fade_from_bottom">
                        <i class="las la-stream"></i> Services
                    </h4>
                    <h2 class="section-title scroll-animation" data-animation="fade_from_bottom">My
                        <span>services</span></h2>
                </div>

                <div class="services-items">
                    <div class="service-item scroll-animation" data-animation="fade_from_bottom">
                        <i class="las la-keyboard"></i>
                        <h2>Freelance webdevelopment</h2>
                        <p>Hire me to work remotely alongside other developers or as a solo developer to complete your project.</p>
                        {# <span class="projects">24 Projects</span> #}
                    </div>
                    <div class="service-item scroll-animation" data-animation="fade_from_bottom">
                        <i class="las la-code"></i>
                        <h2>Website development</h2>
                        <p>I work efficiently to create websites with WordPress or other system's.
                            Communication and time management is a great strength
                            which I use to make sure we don't go over budget.
                            You can use your own design.</p>
                        {# <span class="projects">24 Projects</span> #}
                    </div>
                    <div class="service-item scroll-animation" data-animation="fade_from_bottom">
                        <i class="las la-server"></i>
                        <h2>Webhosting</h2>
                        <p>I provide webhosting through <a href="https://www.siteground.com/recommended?referrer_id=8582088">SiteGround</a>.
                            For 48$ a year I can offer:
                        </p>
                        <ul>
                            <li>domainregistration,</li>
                            <li>webhosting,</li>
                            <li>Daily Backups,</li>
                            <li>SSL and other security,</li>
                            <li>as many emailaccounts as you want,</li>
                            <li>your own login environment,</li>
                            <li>great performance and renowned reliability.</li>
                        </ul>
                    </div>
                    <div class="service-item scroll-animation" data-animation="fade_from_bottom">
                        <i class="las la-bezier-curve"></i>
                        <h2>Website Management</h2>
                        <p>I'll take the burden off for you and maintain your website for you.
                            You can call or email me your request and your deadline and
                            I'll make sure it is taken care of!</p>
                        {# <span class="projects">8 Projects</span> #}
                    </div>
                    <a href="#contact" class="theme-btn">Get in touch</a>
                </div>

            </div>
        </div>
    </section>