<section class="tech-stack">
	<h2 class="heading__medium">Tech Stack</h2>
	<div class="container__medium">
		<div class="tech-stack__grid">
			<div class="tech-stack__column">
				<h3 class="heading__small">CMS & E-commerce</h3>
				<ul class="unlist">
					<li class="tech-stack__item">Kirby CMS</li>
					<li class="tech-stack__item">Shopify</li>
					<li class="tech-stack__item">Stripe Payments API</li>
					<li class="tech-stack__item">Squarespace</li>
					<li class="tech-stack__item">WordPress</li>
					<li class="tech-stack__item">WooCommerce</li>
				</ul>
			</div>
			<div class="tech-stack__column">
				<h3 class="heading__small">Front-End & UI</h3>
				<ul class="unlist">
					<li class="tech-stack__item">JavaScript</li>
					<li class="tech-stack__item">HTML5</li>
					<li class="tech-stack__item">CSS3 / SCSS / SASS</li>
					<li class="tech-stack__item">Figma</li>
					<li class="tech-stack__item">React</li>
					<li class="tech-stack__item">Astro.js</li>
					<li class="tech-stack__item">Gatsby.js</li>
					<li class="tech-stack__item">11ty.js</li>
				</ul>
			</div>
			<div class="tech-stack__column">
				<h3 class="heading__small">Back-End</h3>
				<ul class="unlist">
					<li class="tech-stack__item">Node.js</li>
					<li class="tech-stack__item">JAVA</li>
					<li class="tech-stack__item">PHP</li>
					<li class="tech-stack__item">MySQL</li>
					<li class="tech-stack__item">MongoDB</li>
					<li class="tech-stack__item">GraphQL</li>
					<li class="tech-stack__item">RESTful APIs</li>
					<li class="tech-stack__item">JSON</li>
					<li class="tech-stack__item">AJAX</li>
					<li class="tech-stack__item">Webhooks</li>
					<li class="tech-stack__item">Express.js</li>
					<li class="tech-stack__item">API / Endpoints</li>
					<li class="tech-stack__item">Docker</li>
					<li class="tech-stack__item">NPM</li>


				</ul>
			</div>
			<div class="tech-stack__column">
				<h3 class="heading__small">Tools and AI</h3>
				<ul class="unlist">
					<li class="tech-stack__item">CoPilot</li>
					<li class="tech-stack__item">Claude / Claude Code</li>
					<li class="tech-stack__item">ChatGPT</li>
					<li class="tech-stack__item">Jira</li>
					<li class="tech-stack__item">
						Static Site Deployment (Netlify, Vercel, etc.)
					</li>
					<li class="tech-stack__item">Git (GitHub / Bitbucket)</li>
					<li class="tech-stack__item">Google Analytics</li>
				</ul>
			</div>
		</div>
	</div>
</section>
