/*
* This CSS has custom features I don't think should be in Careless CSS
* TODO:
*  - fix relative paths
*/


@font-face {
    font-family: "MintGrotesk";
    /* src: url("/assets/fonts/mint-grotesk/Mint-Grotesk-Regular-V13.woff2") format("woff2"); */
    src: url("http://127.0.0.1:5500/assets/fonts/mint-grotesk/Mint-Grotesk-Regular-V13.woff2") format("woff2");
}

@font-face {
    font-family: "MintGroteskBold";
    src: url("http://127.0.0.1:5500/assets/fonts/mint-grotesk/Mint-Grotesk-Bold-V13.woff2") format("woff2");
}

body {
    --attention-color: #ffeb3b;
    --shadow: #d3d3d3;

    background-color: #fff;
}
header  {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: fixed;
    background-color: black;
    color: var(--shadow);
}
.scroll-container {
    position: sticky;
    top: 0;
}
nav > a {
    font-size: 16px;
    color: var(--shadow);
}
nav a.active {
    font-family: "MintGroteskBold";
}
nav > a:hover {
    color: black;
}
main {
    padding: 2rem 1.5rem;
}
h1 {
    font-family: "MintGroteskBold";
    font-size: 200%;
    line-height: 1.3;
}

h3 {
    padding-top: 100px;
    margin-bottom: 20px;
    border-bottom: 1px dotted var(--text-color);
}

li + li {
    margin-top: 8px;
}

li a {
    line-height: 1;
    display: inline-block;
}
li a img {
    margin-bottom: 0;
}

strong  {
    font-family: var(--bold-font);
    font-weight: bold;
}
.ribbon {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: var(--attention-color);
}

@media (max-width: 440px) {
    h1 {
        font-size: 60px;
        line-height: 1.3;
    }
}

.js-search-field {
    padding: 9px;
    border: var(--color-4) 1px solid;
    outline: var(--color-4) 2px solid;
}
.box-shadow {
    box-shadow: 1px 1px 20px var(--shadow);
}
.emoji {
    font-size: 30px;
    margin-right: 10px;
}

.highlight {
    background: yellow;
}
details {
    display: block;
    margin-top: 20px;
}
details p {
	border-left: 1px solid var(--color-2);
}

.hide {
    opacity: 0;
}
.text-container {
    max-width: 50vw;
    padding: 1em;
    border-bottom-color: var(--text-color);
    border-bottom-left-radius: 6px;
}

.site-footer {
    padding: 20px;
}