.bg-image:before {
    content: '';
    display: block;
    background-size: cover;
    width: 100vw;
    background-image: url(/assets/img/bg.jpg);
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

header.bg-image,
header nav a {
    color: black;
}

header.bg-image h1 {
    font-size: 400%;
}

@media (max-width: 410px) {
    header.bg-image h1 {
        margin: initial;
        font-size: 60px;
    }
}