---
layout: base.njk
pagename: about
title: "😎 Magalie Chetrit | Web Developer in New Jersey. WordPress, WooCommerce. WebDevelopment."
---

<div class="container__xs">

<h2>About Me</h2>
<p>Hi, I'm Magalie Chetrit, a web developer based in New Jersey.
I don't specialize in any particular area of web development, but I have a strong interest in front-end development.
I have experience with React, WordPress, WooCommerce, and SEO. I'm always looking to learn new things and improve my skills.</p>
<p>For example, I have built this project in 11ty to enhance my javascript skills. I also am working on a some side projects.
But I am particularly proud of my soft skills. I believe a web developer is great when he's able to listen to clients.
Then it's also important to translate any concerns or to be able to push back in the most polite way possible.</p>
<p>I have a particular setup for my terminal and my code editor. I use iTerm2 and VSCode. I have a few extensions that I use on a daily basis. I would love to blog more often, but I am so busy that I hardly get around to it.<p>
<p>When I'm not coding, I enjoy reading, hiking, surfing, and spending time with my family. I'm a mother to Rhys and Magnus. And a dog mother to our sweet Storm.</p>
</div>
