---
layout: base.njk
pagename: frontpage
title: "😎 Magalie Chetrit | Web Designer, Web Developer in New Jersey. WordPress, WooCommerce. WebDevelopment."
---

<!--  <video class="body-overlay" muted autoplay loop>
        <source src="./assets/images/video1.mp4" type="video/mp4">
    </video> -->

<!-- Main Section -->

    <!-- Hero Section -->
    {% include "./_includes/sections/_hero.njk" %}
    {% include "./_includes/sections/_clients.njk" %}
    <!-- About Section -->
    {% include "./_includes/sections/_about.njk" %}
    {% include "./_includes/sections/_resume.njk" %}
    <!-- Services Section -->
    {% include "./_includes/sections/_services.njk" %}

    <!-- Pricing Section -->
    {# {% include "./_includes/sections/_pricing.njk" %} #}

