---
layout: base.njk
pagename: about
title: "😎 Magalie Chetrit | Web Developer in New Jersey. WordPress, WooCommerce. WebDevelopment."
---

<div class="container__xs">
<h2>NowNowNow</h2>
    <div class="container__xs">

   <h3>What is NowNowNow?</h3>
    <p>This is a list of what I am doing right now. What I am working and focusing on. I took my inspiration from <a href="https://nownownow.com/">nownownow.com</a> to create this section.
    And also: <a href="https://herman.bearblog.dev/now/">Herman.</a>
    </p>
    <span class="text__small">Last updated: March 2026</span>
    <h4>Client facing projects (paid projects):</h4>
    <ul>
        <li><a href="#">ErikKorte.nl</a> - Last stages of refactoring and rebuilding a WordPress site for a Dutch funeral home. Including <a href="https://github.com/BluePraise/ek-condoleance-register">a custom plugin for creating and managing condolances.<a/>
        See Before: <a href="https://www.erikkorte.nl/">erikkorte.nl</a> and After: <a href="https://staging-7d16-erikkorteuitvaartverzorging.wpcomstaging.com">Staging - erikkorte.nl</a></li>
        <li><a href="https://farbest.com">farbest.com</a> - A custom wordpress plugin to filter ingredients.</li>
    </ul>
    <h4>Personal projects.</h4>
    <p>These are projects that I am working on for myself, for fun, for learning, for experimenting. These are not all paid projects, but they are still important to me.</p>
    <ul>
        <li><a href="/photo-grid-maker">Photo Grid Maker</a> - A fun side project: A photo grid maker for my Liene Photo Printer. I love this project.</li>
        <li><a href="https://maggiematters.com">maggiematters.com</a> -     Documentation of my life with cancer. I'm experimenting with Google Analytics, WordPress Theme TwentyTwentyFive and technical SEO.</li>
        <li>Funfinder732 - Using my learnings with LLM's and AI to create a fun project for helping parents find fun things to do for their children in New Jersey. This is a work in progress.</li>
        <li><a href="https://navesink.digital">navesink.digital</a> - A side project - helping individuals and businesses organize their digital life.</li>
        <li><a href="https://navesinkwebsolutions.com">navesinkwebsolutions.com</a> - Owner of a small digital agency in New Jersey.</li>
    </ul>
    <h4>Courses, Books, Volunteering.</h4>
    <ul>
        <li><a href="https://tnbcthrivers.org"><i class="las la-hand-holding-heart"></i> TNBCThrivers</a> - Volunteering as moderator for Metastatic TNBC Chats and community support.</li>
        <li><a href="https://make.wordpress.org/"> <i class="lab la-wordpress"></i> Volunteering with WordPress </a> - I volunteer 4 - 8 hours a week to <a href="https://make.wordpress.org/accessibility/handbook/get-involved/">WordPress's Accessibility</a> and Docs team.</a> I help with bug scrubs, documentation, join meetings. This is <a href="https://profiles.wordpress.org/magaliechetrit/">my WP profile</a></li>
        <li><a href="https://www.coursera.org/specializations/building-ai-agents-and-agentic-workflows"><i class="las la-glasses"></i> A 3 part Course: Building AI Agents and Agentic Workflows</a>. I have wrapped up course 1 successfully and am now working on <a href="https://www.coursera.org/learn/agentic-ai-with-langchain-and-langgraph?specialization=building-ai-agents-and-agentic-workflows">course 2: "Agentic AI with LangChain and LangGraph"</a></li>
        <li><a href="https://amzn.to/4p8dbNK"><i class="las la-book-reader"></i> Book: Why We Sleep: Unlocking the Power of Sleep and Dreams</a></li>
        <li><a href="https://amzn.to/469rPhm"><i class="las la-book-reader"></i> Started on second book for 2026: The Impossible Fortune: A Thursday Murder Club Mystery (Thursday Murder Club Mysteries Book 5)</a></li>
    </ul>

    <h4>Previously closed projects.</h4>
    <ul>
        <li><a href="https://haymumford.com">haymumford.com</a> - Webhosting, DevOps and Maintenance.</li>
        <li><a href="https://modem.work">Modem.Work</a> - Maintenance and update from Kirby 3 to Kirby 5.</li>
        <li><a href="https://happymeal.com">happymeal.com</a> - developing and guiding migration to a WordPress project that supports a 100+ locales</li>
        <li><a href="/projects/mcdonaldsasfeaturedin/">mcdonaldsasfeaturedin.com</a> - A shortlived campaign for McDonald's in WordPress, WPML, Timber and ACF</li>
        <li><a href="/projects/artezpress/">ArtEZPress Shop</a> - A custom theme I built in WooCommerce with custom API connection to a WMS</li>
        <li><a href="https://modem.work">Modem.Work</a> - A portfolio for MIT Architects built in Kirby CMS. Currently, supporting and maintaining the site.</li>
        <li><a href="https://topgear.com">TopGear.com</a> - WordPress Theme Development and Supports</li>
    </ul>
</div>