
    <footer>
        <div class="container__medium">
            <h3 class="site-title"><a href="/">Magalie Chetrit</a></h3>
             <nav class='social-nav'>
                <ul class="unlist">
                    <li><a href="https://www.linkedin.com/in/magaliechetrit/"><i class="lab la-linkedin-in"></i></a></li>
                    <li><a href="mailto:email@magaliechetrit.com"><i class="las la-at"></i></a></li>
                    <li><a href="https://github.com/bluepraise"><i class="lab la-github"></i></a></li>
                </ul>
            </nav>
            <p>Last updated: August 28, 2024.</p>
            <p>© Magalie Chetrit {% year %}. All Rights Reserved. </p>
        </div>
    </footer>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>