 <header class='main-header container flex'>
    <h1 class='site-title'>Magalie Chetrit</h1>
    <nav class='social-nav'>
        <ul class="unlist">
            <li><a href="https://www.linkedin.com/in/magaliechetrit/"><i class="lab la-linkedin-in"></i></a></li>
            <li><a href="mailto:email@magaliechetrit.com"><i class="las la-at"></i></a></li>
            <li><a href="https://github.com/bluepraise"><i class="lab la-github"></i></a></li>
        </ul>
    </nav>
</header>