<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="A Front-End Developer. Wordpress, Woocommerce, SEO, Webdesign and Development.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="front-end developer, front-end, websites, website, website development, wordpress, woocommerce, e-commerce">
    <meta property="og:title" content="Portfolio website of Magalie Chetrit">
    <meta property="og:url" content="https://magaliechetrit.com">
    <meta property="og:description" content="A Portfolio Website of Magalie Chetrit - Front-End Developer">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="./assets/css/careless.css">
    <link rel="stylesheet" href="./assets/css/maggie.css">
    <script type="module" src="https://backspace.eco/b.js"></script>
</head>