 <header class='main-header container'>
    <a href="#main-content" class="skip-link">Skip to main content</a>
    <p class="digitalclock text__small">The time in New Jersey is <span class="js-digital-clock"></span></p>
    <h1 class='site-title'><a href="/">Magalie Chetrit</a></h1>
    <div class="left-column">


    {# <a class="button button__highlight call-for-work pulse" href="mailto:email@magaliechetrit.com">
        Available for hire, let's talk!
    </a> #}
    </div>
    <nav class='social-nav' aria-label="Main navigation">
        <ul class="unlist">
            <li><a href="#techstack">My techstack</a></li>
            <li><a href="#nownownow">NowNowNow</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="https://www.linkedin.com/in/magaliechetrit/" aria-label="LinkedIn profile"><i class="lab la-linkedin-in"></i></a></li>
            <li><a href="mailto:magaliechetrit+website@gmail.com" aria-label="Email contact"><i class="las la-at"></i></a></li>
            <li><a href="https://github.com/bluepraise" aria-label="GitHub profile"><i class="lab la-github"></i></a></li>
        </ul>
    </nav>
</header>