 <header class='main-header container flex'>
    <div class="left-column">
        <h1 class='site-title'><a href="/">Magalie Chetrit</a></h1>
    </div>
    <a class="button__highlight call-for-work blink" href="mailto:magaliechetrit.work@gmail.com">
        Available for hire, let's talk!
    </a>

    <nav class='social-nav'>
        <ul class="unlist">
            <li><a href="https://www.linkedin.com/in/magaliechetrit/"><i class="lab la-linkedin-in"></i></a></li>
            <li><a href="mailto:email@magaliechetrit.com"><i class="las la-at"></i></a></li>
            <li><a href="https://github.com/bluepraise"><i class="lab la-github"></i></a></li>
        </ul>
    </nav>
</header>