<link rel="stylesheet" href="./assets/css/site/left-sidebar.css">
<aside class="left-sidebar">
    <div class="sidebar-header">
        <h1 class="scroll-animation" data-animation="fade_from_top">Hi from <span class="highlight">Magalie</span>.</h1>
        <h2 class="scroll-animation subtitle" data-animation="fade_from_bottom">A webdeveloper based in New Jersey, USA.</h2>
        <h3 class="scroll-animation email" data-animation="fade_from_left">email@magaliechetrit.com</h3>
    </div>
    <img class="me" src="./assets/images/me.png" alt="A picture of Magalie and her daughter">
    <div class="social-wrapper">
        <h4 class="social-title subtitle"><span class="highlight">Connect</span> with me</h4>
        <ul class="social-profile">
            <li>
                <a href="mailto:email@magaliechetrit.com"><i class="las la-envelope"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/magaliechetrit/"><i class="lab la-linkedin"></i></a>
            </li>
            <li>
                <a href="https://instagram.com/maggiematters"><i class="lab la-instagram"></i></a>
            </li>
            <li>
                <a href="https://github.com/BluePraise/"><i class="lab la-github"></i></a>
            </li>
        </ul>
    </div>
<div class="sidebar-footer">
    <p class="copyright">&copy; 2023 Magalie Chetrit. All Rights Reserved</p>
</div>
</aside>