<div class="topbar">
    <div class="availibility-indicator">
        <span class="text-label">status:</span>
        <span class="availibility-signal"></span><span class="indicator-status">available</span></div>
    <div class="contact-options">
        <div class="contact-item">
            <span class="text-label">talk:</span> <a href="#">email</a>
        </div>
        <div class="contact-item"><span class="text-label">resume:</span> <a href="#">here</a></div>
        <div class="contact-item"><span class="text-label">code: </span> <a href="#">github</a></div>
    </div>
</div>